<h1>Courses</h1>

<%= link_to 'New course', new_course_path, class: 'btn btn-primary btn-lg' %>
<% @courses.each do |course| %>
  <article class="card mt-3">
    <div class="card-body">
      <h4><%= course.title %></h2>

      <section class="card-text">
        <p class="my-2">
            <% subjects = course.subjects.all %>
            <% subjects.each do |subject| %>
                <div>
                    <%= subject.title%> |
                    <%= subject.faculty%>
                </div>
            <%end%>
        </p>
      </section>

      <%= link_to 'Show', course_path(course), class: 'btn btn-primary' %> 
      <%= link_to 'Edit', edit_course_path(course), class: 'btn btn-secondary' %>
      <%= link_to 'Drop', course_path(course), class: 'btn btn-danger',
        data: {method: :delete, confirm: 'Are you sure?'} %>
    </div>
  </article>
<% end %>
